{% extends 'base/base.html' %}

{% load game_board %}

{% block content %}
{% for team in teams %}
    <div class="board">
        <h3>{{ team.player.username }}'s board{% if team.winner %} - Winner!{% elif not team.alive %} - defeated{% endif %}</h3>
        <div class="well">
            {% if team.player.username == request.user.get_username %}
                {% render_player_board team game_id %}
            {% else %}
                {% render_opponent_board team game_id %}
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="board-key">
    <h4>Key</h4>
    <table>
        <tr>
            <td>A0</td>
            <td>Unattacked, unoccupied</td>
        </tr>
        <tr>
            <td class="tile-occupied">A0</td>
            <td>Unattacked, occupied</td>
        </tr>
        <tr>
            <td class="tile-hit">A0</td>
            <td>Attacked, unoccupied</td>
        </tr>
        <tr>
            <td class="tile-occupied tile-hit">A0</td>
            <td>Attacked, occupied</td>
        </tr>
    </table>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
