<form action="{% url 'attack' game_id %}" method="post" id="attack-form" class="form-inline">
    <input type="hidden" name="game_id" value="{{ game_id }}"></input>
    <input type="hidden" name="target_team" value="{{ team.id }}"></input>

<table>
    {{ tiles }}
    {% for row in team.tiles %}
        <tr>
            {% for tile in row %}
                {% if tile.is_hit %}
                    {% if tile.is_empty %}
                        <td class="tile-hit">{{ tile.name }}</td>
                    {% else %}
                        <td class="tile-occupied tile-hit">{{ tile.name }}</td>
                    {% endif %}
                {% else %}
                    <td><input type="submit" name="target" value="{{ tile.name }}"></input></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</form>
